h4{
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 25px;
}

p{
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 300;

}


.navigate_shop {
    font-size: 12px;
    font-weight: 400;
    color: #9f9f9f;

}

.border_navigate {
    border-bottom: 1px solid var(--ligthgrey);
    border-top: 1px solid var(--ligthgrey);
    background-color: rgb(243, 243, 243);
}

.color_nav {
    color: var(--red);
}

.price_filter {
    width: 60%;
}

.input_container {
    width: 40%;
    display: inline-block;
}

.input_bt_container {
    width: 50%;
    display: inline-block;
}


